---
import { Picture } from 'astro:assets'
import PriceWithVariants from './PriceWithVariants.astro'
import { formatCurrency } from '@/utils'
import type { Product, ProductWithVariablePrice } from '@/types'
import AddProductButton from './AddProductButton'

    interface Props {
        product: Product
    }
    const { product } = Astro.props
---
<div class="border border-gray-200">

    <Picture 
        src={product.featured_images.full.url}
        alt={`Imagen de ${product.title.rendered}`}
        width={product.featured_images.full.width}
        height={product.featured_images.full.height}
        formats={['avif', 'webp']}
    />

    <div class="p-5">
        <h3 class="text-2xl font-black h-20" set:html={product.title.rendered}></h3>

        {product.acf.variable_price ? 
            <PriceWithVariants product={product as ProductWithVariablePrice } /> : (
            <p class="mt-5 font-black text-amber-400 text-4xl">
                {formatCurrency(product.acf.price)}
            </p>
            <AddProductButton 
                client:only="react"
                product={{
                    id: product.id,
                    name: product.title.rendered,
                    price: product.acf.price
                }}
            />
        )}
    </div>
</div>