---
import { Picture } from 'astro:assets'
import ProductMenu from './ProductMenu'
import type { Product } from '@/types'

interface Props {
  products: Product[]
}
const { products } = Astro.props
---
 <tbody class="divide-y divide-gray-200">
    {
      products.map((product) => (
        <tr>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <Picture 
                    src={product.featured_images.medium.url}
                    alt={`Imagen del Producto ${product.title.rendered}`}
                    width={product.featured_images.medium.width}
                    height={product.featured_images.medium.height}
                    formats={['avif', 'webp']}
                    class="size-28 object-cover rounded-lg"
                />
          </td>
          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                {product.title.rendered}
          </td>

          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            <a
              class="bg-indigo-400 p-1 text-white rounded"
              href={`/admin/products/${product.freshcoffee_category.slug}`}
            >
                {product.freshcoffee_category.name}
            </a>
          </td>
          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <ProductMenu 
                    client:only="react"
                    name={product.title.rendered}
                    id={product.id}
                />
          </td>
        </tr>
      ))
    }
  </tbody>